@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.9500 0 0);
  --foreground: oklch(0.0650 0 0);
  --card: oklch(0.9700 0 0);
  --card-foreground: oklch(0.0650 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.5770 0.2450 27.3250);
  --primary-foreground: oklch(0.9670 0.0030 264.5420);
  --secondary: oklch(0.2050 0 0);
  --secondary-foreground: oklch(0.9310 0 0);
  --muted: oklch(0.9220 0 0);
  --muted-foreground: oklch(0.5321 0.0155 290.4588);
  --accent: oklch(0.9850 0 0);
  --accent-foreground: oklch(0.7040 0.1910 22.2160);
  --destructive: oklch(0.6932 0.0831 65.7325);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8700 0 0);
  --input: oklch(0.9850 0 0);
  --ring: oklch(0.5465 0.1506 285.7515);
  --chart-1: oklch(0.5465 0.1506 285.7515);
  --chart-2: oklch(0.4961 0.1594 287.4282);
  --chart-3: oklch(0.4696 0.1383 290.9807);
  --chart-4: oklch(0.4217 0.1114 293.0299);
  --chart-5: oklch(0.3723 0.0858 293.5356);
  --sidebar: oklch(0.9439 0.0040 286.3228);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.5465 0.1506 285.7515);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8900 0.0316 279.8251);
  --sidebar-accent-foreground: oklch(0.3723 0.0858 293.5356);
  --sidebar-border: oklch(0.6916 0.0059 297.6740);
  --sidebar-ring: oklch(0.5465 0.1506 285.7515);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.8rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 12.5px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.15;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 12.5px -1px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0 1px 12.5px -1px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 1px 2px -2px hsl(0 0% 0% / 0.15);
  --shadow: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 1px 2px -2px hsl(0 0% 0% / 0.15);
  --shadow-md: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 2px 4px -2px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 4px 6px -2px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 8px 10px -2px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0 1px 12.5px -1px hsl(0 0% 0% / 0.38);
  --tracking-normal: -0.025em;
  --spacing: 0.29rem;
}

.dark {
  --background: oklch(0.1450 0 0);
  --foreground: oklch(0.8700 0 0);
  --card: oklch(0.1650 0 0);
  --card-foreground: oklch(0.8700 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.5770 0.2450 27.3250);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2050 0 0);
  --secondary-foreground: oklch(0.9310 0 0);
  --muted: oklch(0.2050 0 0);
  --muted-foreground: oklch(0.8047 0 0);
  --accent: oklch(0.2690 0 0);
  --accent-foreground: oklch(0.8850 0.0620 18.3340);
  --destructive: oklch(0.6932 0.0831 65.7325);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2050 0 0);
  --input: oklch(0.2050 0 0);
  --ring: oklch(0.5465 0.1506 285.7515);
  --chart-1: oklch(0.6201 0.1263 284.2165);
  --chart-2: oklch(0.5465 0.1506 285.7515);
  --chart-3: oklch(0.4961 0.1594 287.4282);
  --chart-4: oklch(0.4696 0.1383 290.9807);
  --chart-5: oklch(0.4217 0.1114 293.0299);
  --sidebar: oklch(0.2046 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.5465 0.1506 285.7515);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3723 0.0858 293.5356);
  --sidebar-accent-foreground: oklch(0.8182 0.0601 288.1898);
  --sidebar-border: oklch(0.3715 0 0);
  --sidebar-ring: oklch(0.5465 0.1506 285.7515);
  --font-sans: Inter, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 1.8rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 12.5px;
  --shadow-spread: -1px;
  --shadow-opacity: 0.15;
  --shadow-color: #000000;
  --shadow-2xs: 0 1px 12.5px -1px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0 1px 12.5px -1px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 1px 2px -2px hsl(0 0% 0% / 0.15);
  --shadow: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 1px 2px -2px hsl(0 0% 0% / 0.15);
  --shadow-md: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 2px 4px -2px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 4px 6px -2px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0 1px 12.5px -1px hsl(0 0% 0% / 0.15), 0 8px 10px -2px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0 1px 12.5px -1px hsl(0 0% 0% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--card);
  --color-sidebar-foreground: var(--foreground);
  --color-sidebar-primary: var(--primary);
  --color-sidebar-primary-foreground: var(--primary-foreground);
  --color-sidebar-accent: var(--accent);
  --color-sidebar-accent-foreground: var(--accent-foreground);
  --color-sidebar-border: var(--border);
  --color-sidebar-ring: var(--ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
